/* Estilo de inicio de sesion empleados y demas paginas de este modulo*/

html, body{
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    background: url(imagen/bg.jpg);
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh; /* Ocupa el 90% de la altura de la ventana */
}

header{
    height: 10vh; /* Ocupa el 10% de la altura de la ventana */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

nav{
    position: absolute;
    top: 120px;
    right: 500px;
}

nav li{
    display: inline;
    margin: auto;
}

nav a{
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}

.contenedor{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.caja {
    margin: 10px;
}

.caja img {
    max-width: 100%;
    height: auto;
}

.registro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: white solid 1px;
    border-radius: 10px;
    width: 20%;
}

.formulario_registro {
    width: 80%;
    max-width: 100%; /* Puedes ajustar el ancho máximo según sea necesario */
    margin: 10px 0;
}

.formulario_registro label, .formulario_registro input, .formulario .enviar{
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

.formulario_registro label{
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.formulario_registro input{
    height: 30px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
}

.ingresar {
    background-color: orange;
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 0;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.ingresar:hover {
    background-color: darkorange;
    transform: scale(1.2);
}

footer{
    height: 10vh; /* Ocupa el 10% de la altura de la ventana */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.copyright{
    color: white;
    font-size: 15px;
    margin: auto;
}

.opciones{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}

.opciones li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 10px;
}

.opciones li:hover{
    border-color: #c78c19;
}

.opciones li:active{
    border-color: #088c19;
}

.opciones a{
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}

/* Estilo de tabla visualizacion agendamiento de citas*/

table {
    border-collapse: collapse;
    width: 100%;
}

thead{
    background: #555555;
    color: white;
    font-weight: bold;
}

table th, table td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
}

@media screen and (max-width:480px) {
    h1{
        text-align: center;
    }
    nav{
        position: static;
    }
    .lista-diferenciales, .imagen-diferenciales{
        width: 100%;
    }
    .caja, .principal, .mapa-contenido, .contenido-diferenciales, .video{
        width: auto;
    }
}